#logo{ text-align: left; margin: 1em 0em 0em 0em; }
#logo .desc{ font-size: 70%; color: gray; }
#top-tabs{ margin: 0em 0em 1em 0em;}

ul.galleria{ width: 300px;}
ul.galleria li{float:left !important;}

#introduction{ text-align: justify; }

#footer{ text-align: center; margin: 1em 0px; padding-top: 0.5em;  }

#datepick { text-align: right; width: 100%; }
.datepick { text-align:center; width: 80px; }
#form_submit { font-weight: bold; }