@charset "utf-8";

body { background:url(../images/m_bg.png) center top no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:16px; margin:0; padding:0;}

h2 { font-size:18px; line-height:24px; color:#075b8d;}
h2 span.no { background:url(../images/m_h_bg.png) center top no-repeat; text-align:center; padding:1px 8px 1px 8px; line-height:24px; font-size:12px; color:#928d11; position:relative; bottom:2px;}
a { color:#075b8d;}

.header { background:url(../images/m_header_bg.png) bottom  repeat-x; height:92px; overflow:hidden; margin:0 0 10px 0;}
.menu {}
.menu ul{ margin:20px 0 0 0; padding:0; list-style:none; font-size:18px;  float:left;}
.menu ul li{ float:left; clear:none; margin:0;}
.menu ul li a{ display:block; padding:20px 6px 40px 6px; margin:2px; color:#004f84; text-decoration:none; }
.menu ul li.active a{ background:#fff; padding:19px 5px 40px 5px;  border:1px solid #bfbfbf; border-bottom:none; color:#004f84; }

#form_query, #form_date_from, #form_date_to { background:url(../images/m_input_bg.png) bottom  repeat-x; border:1px solid #83adc6; font-size:14px; line-height:14px;}
#form_submit{ background:#075b8d; border:1px solid #075b8d; color:#fff; font-size:14px; line-height:14px; font-weight:normal;}

.menu ul li.search { padding: 0 0 0 20px;}
.menu ul li.search #form_query { margin-top:15px; padding:3px; line-height:18px; font-size:18px; color:#075b8d; width:140px; background:url(../images/m_search_bg.png) center left no-repeat; padding-left:38px; }

.span-12.about  { margin:50px 0 0 0;}
.span-12.about h2 { font-size:30px; line-height:30px;}
.span-12.about p, .span-12.about ul li { font-size:18px; line-height:24px; color: #666;}
.span-12.about ul { list-style:none; margin:0; padding:0;}
.span-12.about a { color:#005387; }

.datepick {}

.span-24.footer { border-top: 1px solid #b2d2e4; background:#dfeaf0 url(../images/m_footer_bg.png) no-repeat 17px 10px ; display:block; margin:20px 0 0 0 ; color:#075b8d; width: 870px; padding:10px 10px 0px 70px; }
.span-24.footer a{ color:#1b7eb8; }
.span-24.footer p{ margin-bottom:10px; }


table.result thead tr { background:url(../images/m_header_bg.png) bottom  repeat-x; }
table.result thead tr td a{ padding:5px 0 5px 0; display:block; color:#075b8d; }

div#datepick { width:325px;}
div#datepick img { position:relative; top:6px; margin:0 5px 0 0;}