.*
*~
*.py[co]
DJANGO_SETTINGS_MODULE
media/.DS_store
nuvola
media/images/.DS_Store
media/.DS_Store
s3*test*
sds*test*
data
data/**
*.counter
config/etc/nginx/htpasswd
mturk-tracker.sublime-project.sublime-project
