app/mtracker/settings/local.py

*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
.*
*~
*.mo
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
collected-static/*

# old project's ignores
DJANGO_SETTINGS_MODULE
nuvola
s3*test*
sds*test*
data
data/**
*.counter
*.sublime-project
solr/solr/en/conf/import_db_hits.properties
data
prediction.dat
gapi

# doc files to ignore
doc/build/*
doc/source/_build/*
doc/source/apidoc/*

# deployment files to ignore
deployment/files/ssh/*
deployment/files/django/settings/local.py
*ec2.json
