{% extends 'base.html' %}
{% block head %}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/main.css" media="screen" type="text/css"/>
	<script type="text/javascript" src="{{MEDIA_URL}}js/main.js"></script>
{% endblock %}
{% block body %}
<div id="pages">
	<ul>
		<li><a href="#page-start">Start</a></li>
		<li><a href="main">Main</a></li>
		<li><a href="requestors">Requestors</a></li>
		<li><a href="arrivals">Arrivals</a></li>
		<li><a href="completed">Completed</a></li>
		<li><a href="hits">HITs</a></li>
		<li><a href="projects">Projects</a></li>
		<li><a href="rewards">Rewards</a></li>
		<li><a href="tasks">Tasks</a></li>
	</ul>

	<div id="page-start">
		<div class="column-left">
		    <div class="text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere ullamcorper lorem non tincidunt. Suspendisse non tellus erat. Praesent a lorem eget mi semper scelerisque a ac urna. Vestibulum lobortis dignissim turpis, sagittis imperdiet massa facilisis nec. Proin a ipsum est. Nullam elementum, metus sit amet feugiat consectetur, nulla dolor accumsan velit, vel ullamcorper velit eros eget lorem. Sed eu ligula ac arcu faucibus malesuada. Sed cursus laoreet tellus in rutrum. Morbi nec felis diam. Quisque lorem ipsum, faucibus a aliquet nec, eleifend vitae metus. Integer ut justo sed ante mattis rutrum. 
		    </div>
		</div>
		<div class="column-right">
		    <div class="text">
			Pellentesque cursus sollicitudin elit, et convallis felis lobortis et. Fusce sagittis, lorem nec eleifend pharetra, dui enim lacinia mauris, egestas viverra risus ipsum sit amet nunc. Suspendisse potenti. Aliquam erat volutpat. Quisque pretium pellentesque mi ultrices malesuada. Quisque urna elit, semper dapibus vestibulum porta, condimentum quis quam. Aliquam tristique nisl at odio commodo porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		    </div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
		For bugs' reports and feature requests please contant Panos Ipeirotis
	</div>
</div>
{% endblock %}