{% extends 'base.html' %}

{% load graph %}

{% block title %}{{title}}{% endblock %}
{% block header_text %}{{block.super}} <br/>{{hit.title}}{% endblock %}

{% block content %}

<h2>Hit details:</h2>
<ul>
	<li>Requester: {{hit.requester_name}}</li>
	<li>Reward: {{hit.reward}}</li>
	<li>Description: {{hit.description}}</li>
	<li>Keywords: {{hit.keywords}}</li>
	<li>Qualifications: {{hit.qualifications}}</li>
</ul>

{% if hit.html %} 
<div id="hit_group" style="padding:10px;border:1px solid black">
	{{hit.html|safe}}
</div>
{% endif %}

{% endblock %}