<div id="top-tabs" class="span-24 ui-tabs ui-widget ui-widget-content ui-corner-all"> 
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"> 
		<li class="ui-state-default ui-corner-top"><a href="">Start</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Top requesters</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Arrivals</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Completed</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Hits</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Hits Duration</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Projects</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Rewards</a></li>
		<li class="ui-state-default ui-corner-top"><a href="">Tasks</a></li>
	</ul>			
</div>	

