<li class="{% ifequal top_tab 'general'%}active{%endifequal%}"><a href="{%url graphs_general%}">General</a></li>
<li class="{% ifequal top_tab 'top_requesters'%}active{%endifequal%}"><a href="{%url graphs_top_requesters%}">Top requesters</a></li>
<li class="{% ifequal top_tab 'arrivals'%}active{%endifequal%}"><a href="{%url graphs_arrivals%}">Arrivals</a></li>
<li class="{% ifequal top_tab 'search'%}active{%endifequal%}"><a href="{%url search%}">Search</a></li>
<li class="{% ifequal top_tab 'about'%}active{%endifequal%}"><a href="{%url about%}">About</a></li>