{% extends 'base.html' %}

{% load graph %}

{% block title %}{{title}}{% endblock %}
{% block header_text %}{{block.super}}: <span class="desc">{{title}}</span>{% endblock %}

{% block head %}<link rel="stylesheet" href="{{MEDIA_URL}}css/search.css" type="text/css" />{% endblock %}

{% block content %}

<script type='text/javascript'>

	$(document).ready( function() {

		$.datepicker.setDefaults($.extend(
			{
				dateFormat: 'mm/dd/yy',
				showMonthAfterYear: false
			}
		));

		$('.datepick_from').datepicker();
		$('.datepick_to').datepicker();

		var nowDate = new Date();
		nowDate.setDate(nowDate.getDate()+1);

		$('.datepick_from').each( function() {
			{% if not date_from %}$(this).datepicker('setDate', -30);{% endif %}
			$(this).datepicker('option', 'maxDate', nowDate);
		});

		$('.datepick_to').each( function() {
			{% if not date_to %}$(this).datepicker('setDate', nowDate);{% endif %}
			$(this).datepicker('option', 'maxDate', nowDate);
		});

	});
</script>

	<div id="timeline_top">
        
        <div id="datepick">
        <img src="{{MEDIA_URL}}images/m_icon_clock.png" alt="" style=" float:left;"/>
            <form method="get" action="">
                <input class="datepick datepick_from" type="text" name="date_from" id="form_date_from" value="{% if date_from %}{{date_from}}{% else %}date from{% endif %}"/>
                <input class="datepick datepick_to " type="text" name="date_to" id="form_date_to" value="{% if date_to %}{{date_to}}{% else %}date to{% endif %}"/>
                <input class="submit" type="submit" id="form_submit" value="Adjust chart"/>
            </form>
        </div>
        
    <div style="clear:both"></div>
	</div>

	{% google_timeline columns data %}

{% endblock %}
