<script type='text/javascript' src='http://www.google.com/jsapi'></script> 
<script type='text/javascript'> 
	google.load('visualization', '1', {'packages':['table']});
	google.setOnLoadCallback(drawTable);

	function drawTable() {

		var data = new google.visualization.DataTable();

		{% for type,name in columns %}
		data.addColumn('{{type}}', '{{name}}');
		{% endfor %}
		
    	{% for row in data %}
    	data.addRow({{row|safe}});
    	{% endfor %}
	
        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {showRowNumber: true, allowHtml: true, page: 'enable', pageSize: 25, width: '800px', alternatingRowStyle: true});		
	}	
      
</script>

<div id="table_div" style="height: 600px;"></div>