#logo{ text-align: left; margin: 1em 0em 0em 0em; }
#logo .desc{ font-size: 70%; color: gray; }
#top-tabs{ margin: 0em 0em 1em 0em;}

ul.galleria{ width: 300px;}
ul.galleria li{float:left !important;}

#introduction{ text-align: justify; }

#footer{ text-align: center; margin: 1em 0px; padding-top: 0.5em;  }

#timeline_top { width: 100%; }
#search_box { float: left; padding-left: 10px }
#search_in { width: 470px }
form input.submit { font-size: 130%; font-weight: bold; height: 26px; margin: 0 0 0 0.2em; }

#datepick { float: right }
.datepick { font-size: 130%; height: 23px; text-align: center; width: 95px; }
#form_submit { font-weight: bold; }

#charts h2 { margin: 0; padding: 30px 10px 0 10px; }
#charts .chartBox { width: 457px; float: left; margin: 0 5px; }
