* {
    margin: 0;
}

body {
    line-height: 1;
}

h1, h2, h3, h4, p {
    font-size: 100%;
    font-weight: normal;
}

html, body {
    height: 100%;
}

*html body {
    font-size: 85%;
}

body {
    font-family: Verdana, sans;
    font-size: 85%;
    line-height: 1.5em;
}

a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.clear {
    clear: both;
}
