<!DOCTYPE html>

{% load home %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{% block title %}Mechanical Turk Monitor{% endblock %}</title>
    
	<link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" media="screen" type="text/css"/>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui/jquery-ui.css" media="screen" type="text/css"/>
    
	<script src="http://www.google.com/jsapi"></script>
	{% jquery %}
    
	{% block head %}{%endblock%}
	</head>
<body>
{% block body %}{% endblock %}
</body>
</html>