<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% load home %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Mechanical Turk Tracker: {% block title %}{% endblock %}</title>

	<link rel="Shortcut Icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png"/>

    <!--  blueprint stuff start -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<!--  blueprint stuff end -->

	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" media="screen" type="text/css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/mturk.css" type="text/css" media="screen, projection">

	<!--  jquery stuff start -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.7.1.css" type="text/css" />
	<!--  jquery stuff end -->

	<script src="http://www.google.com/jsapi"></script>

    {% jquery %}
    {% block css %}{% endblock %}
    {% block head %}{%endblock%}
<script type='text/javascript'>

	function submitEnter(field, e) {
		    var keycode;

		    if (window.event) keycode = window.event.keyCode;
		    else if (e) keycode = e.which;
		    else return true;

		    if (keycode == 13) {
		        $('#form_submit').click();
		        return false;
		    }
		    else return true;
	}
</script>


</head>

<body>

<div class="container">

	<div class="span-24 header">

		<div class=" span-6">
    	<a href="{%url graphs_general%}"><img src="{{ STATIC_URL }}img/m_logo.png" alt="" /></a>
        </div>

        <div class=" span-18 menu last">
		<ul>
        {% include 'main/tabs.html' %}
        <li class="search">
        <form method="post" action="/search/" onsubmit="submitForm()">
        <input type="text" name="query" id="form_query" value="" onkeypress="return submitEnter(this,event)"/>
        <input type="submit" id="form_submit" value="Search" style="display:none;"/>

        <!--
        <span class="loading"></span>
        -->

		</form>
		</li>

        </ul>

        </div>

	</div>
<!--
	<div id="logo"><h1>{%block header_text %}Mechanical Turk Tracker{% endblock %}</h1></div>
-->
<div class="span-24 content">

		{% block content %}
		{% endblock %}

    <div style="clear:both;"></div>

</div>

	<div class="span-24 footer">
        <p>For bugs reports or feature requests, please contact <a href="http://www.stern.nyu.edu/~panos">Panos Ipeirotis</a> | Created by <a href="http://www.10clouds.com">10clouds.com</a> <br/> If you want to cite this website, please cite the paper <a href="http://portal.acm.org/citation.cfm?id=1869094">Analyzing the Amazon Mechanical Turk Marketplace</a>, P. Ipeirotis, ACM XRDS, Vol 17, Issue 2, Winter 2010, pp 16-21.</p>
	</div>



</div>

	{% google_analytics_code %}

</body>
</html>
